
<div>
    <footer class=" text-white text-center text-lg-start" style="background-color: #eba776;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Kohsha</h5>
    
            <p>
              Koh•Sha derived from the Sanskrit word KOSHA which in Eastern 
              philosophy identifies what encloses the pure consciousness of
              Spirit in its material manifestations. Hindu philosophy describes
              the five Koshas, as physical, energy, mental, wisdom, and bliss; 
              each of which plays an important role as the five elements, Earth,
              Water, Fire, Air, and Eather. It is of utmost importance that one
              should be fed in the purest possible way as a tribute to keep your
              Kosha healthy and blissful. Our range of products is procured from
              hand-picked local farms from the most nurtured soil in India, the
              Himalayan Ranges. We ensure high nutrition value and purity in every
              product as we know you deserve nothing but the best.
            </p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Links</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #A46B42;">
        © 2020 Copyright:
        <a class="text-white">kohsha</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>