{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container">
    <div class="formcontainer p-5 m-5">
        <div class="col-lg-6 rounded mx-auto  pt-6">
            <div class="text-center col">
            
                {% comment %} <img
                src='../../uploads/products/Logo.png' alt=""
                class="" style="height: 150px;"> {% endcomment %}
           
            </div>
            <h3 class="loginheading" style="text-align:center" >Login</h3>
            <form action="/login" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group">
                    <label  for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" inputbox form-control-sm form-control" placeholder="abc@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="inputbox form-control form-control-sm" >
                </div>

                <!--Checkme button-->
            <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label d-grid gap-2" for="exampleCheck1">Check me out</label>
                </div>
                <hr>
                <button type="submit" class="login">Login</button>
                 <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a> 
            </form>
        </div>
    </div>
</div>

{% endblock %}