{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<div class="container mt-4">
    
    <div class="formcontainer p-3 m-3">

        
        <div class="col-lg-5 rounded mx-auto pt-4">
            <div class="text-center col">
            
                {% comment %} <img
                src='../../uploads/products/Logo.png' alt=""
                class="" style="height: 150px;"> {% endcomment %}
            <!-- <hr> -->
         
            </div>
            <h3 class="loginheading" style="text-align:center">Create an Account</h3>
            <form action="/signup" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname"
                     id="" value="{{values.first_name}}" class="inputbox form-control-sm form-control"
                     placeholder="">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" 
                    id="" value="{{values.last_name}}" class="inputbox form-control-sm form-control"
                    >
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" 
                    id="" 
                    value="{{values.phone}}"
                    placeholder="9876543210"
                    class="inputbox form-control-sm form-control"
                    >
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class="inputbox form-control-sm form-control" placeholder="abc@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="inputbox form-control form-control-sm">
                </div>

                <!--Checkme button-->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label d-grid gap-2" for="exampleCheck1">Check me out</label>
                </div>
                <hr>
                <button type="submit" class="login">Create an account</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}